In [1]:
import requests, pandas as pd, numpy as np
from bs4 import BeautifulSoup

In [2]:
#Part 1, step 1
html = requests.get('https://cmsc320.github.io/files/top-50-solar-flares.html').text
soup = BeautifulSoup(html, "html")
table = soup.find('table', {"class": "table table-striped table-responsive-md"})
df = pd.read_html(str(table))[0]

In [3]:
#Part 1, step 2
df.drop('Unnamed: 7', axis = 1, inplace = True)

In [4]:
from datetime import datetime, timedelta

for index, row in df.iterrows():
    start = df.at[index, "Start"]
    maximum = df.at[index, "Maximum"]
    end = df.at[index, "End"]
    dt = df.at[index,"Unnamed: 2"]
    
    combined_start = datetime.combine(datetime.strptime(dt, '%Y/%m/%d'), datetime.strptime(start, '%H:%M').time())
    combined_max = datetime.combine(datetime.strptime(dt, '%Y/%m/%d'), datetime.strptime(maximum, '%H:%M').time())
    combined_end = datetime.combine(datetime.strptime(dt, '%Y/%m/%d'), datetime.strptime(end, '%H:%M').time())
    
    df.at[index, "Start"] = combined_start
    df.at[index, "Maximum"] = combined_max
    df.at[index, "End"] = combined_end
    
    
df.drop('Unnamed: 2', axis = 1, inplace = True)

df.rename(columns={"Unnamed: 0": "rank", "Unnamed: 1": "x_classification", "Start": "start_datetime", "End": "end_datetime", "Maximum": "max_datetime", "Region": "region"}, inplace=True)
df = df[['rank', 'x_classification', 'start_datetime', 'max_datetime', 'end_datetime', 'region']]
df.replace("-", "NaN")

,rank,x_classification,start_datetime,max_datetime,end_datetime,region
0,1,X28+,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00,486
1,2,X20+,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00,9393
2,3,X17.2+,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00,486
3,4,X17+,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00,808
4,5,X14.4,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00,9415
5,6,X10,2003-10-29 20:37:00,2003-10-29 20:49:00,2003-10-29 21:01:00,486
6,7,X9.4,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00,8100
7,8,X9.3,2017-09-06 11:53:00,2017-09-06 12:02:00,2017-09-06 12:10:00,2673
8,9,X9,2006-12-05 10:18:00,2006-12-05 10:35:00,2006-12-05 10:45:00,930
9,10,X8.3,2003-11-02 17:03:00,2003-11-02 17:25:00,2003-11-02 17:39:00,486
10,11,X8.2,2017-09-10 15:35:00,2017-09-10 16:06:00,2017-09-10 16:31:00,2673
11,12,X7.1,2005-01-20 06:36:00,2005-01-20 07:01:00,2005-01-20 07:26:00,720
12,13,X6.9,2011-08-09 07:48:00,2011-08-09 08:05:00,2011-08-09 08:08:00,1263
13,14,X6.5,2006-12-06 18:29:00,2006-12-06 18:47:00,2006-12-06 19:00:00,930
14,15,X6.2,2005-09-09 19:13:00,2005-09-09 20:04:00,2005-09-09 20:36:00,808
15,16,X6.2,2001-12-13 14:20:00,2001-12-13 14:30:00,2001-12-13 14:35:00,9733
16,17,X5.7,2000-07-14 10:03:00,2000-07-14 10:24:00,2000-07-14 10:43:00,9077
17,18,X5.6,2001-04-06 19:10:00,2001-04-06 19:21:00,2001-04-06 19:31:00,9415
18,19,X5.4,2012-03-07 00:02:00,2012-03-07 00:24:00,2012-03-07 00:40:00,1429
19,20,X5.4,2005-09-08 20:52:00,2005-09-08 21:06:00,2005-09-08 21:17:00,808
20,21,X5.4,2003-10-23 08:19:00,2003-10-23 08:35:00,2003-10-23 08:49:00,486
21,22,X5.3,2001-08-25 16:23:00,2001-08-25 16:45:00,2001-08-25 17:04:00,9591
22,23,X4.9,2014-02-25 00:39:00,2014-02-25 00:49:00,2014-02-25 01:03:00,1990
23,24,X4.9,1998-08-18 22:10:00,1998-08-18 22:19:00,1998-08-18 22:28:00,8307
24,25,X4.8,2002-07-23 00:18:00,2002-07-23 00:35:00,2002-07-23 00:47:00,39
25,26,X4,2000-11-26 16:34:00,2000-11-26 16:48:00,2000-11-26 16:56:00,9236
26,27,X3.9,2003-11-03 09:43:00,2003-11-03 09:55:00,2003-11-03 10:19:00,488
27,28,X3.9,1998-08-19 21:35:00,1998-08-19 21:45:00,1998-08-19 21:50:00,8307
28,29,X3.8,2005-01-17 06:59:00,2005-01-17 09:52:00,2005-01-17 10:07:00,720
29,30,X3.7,1998-11-22 06:30:00,1998-11-22 06:42:00,1998-11-22 06:49:00,8384
30,31,X3.6,2005-09-09 09:42:00,2005-09-09 09:59:00,2005-09-09 10:08:00,808
31,32,X3.6,2004-07-16 13:49:00,2004-07-16 13:55:00,2004-07-16 14:01:00,649
32,33,X3.6,2003-05-28 00:17:00,2003-05-28 00:27:00,2003-05-28 00:39:00,365
33,34,X3.4,2006-12-13 02:14:00,2006-12-13 02:40:00,2006-12-13 02:57:00,930
34,35,X3.4,2001-12-28 20:02:00,2001-12-28 20:45:00,2001-12-28 21:32:00,9767
35,36,X3.3,2013-11-05 22:07:00,2013-11-05 22:12:00,2013-11-05 22:15:00,1890
36,37,X3.3,2002-07-20 21:04:00,2002-07-20 21:30:00,2002-07-20 21:54:00,39
37,38,X3.3,1998-11-28 04:54:00,1998-11-28 05:52:00,1998-11-28 06:13:00,8395
38,39,X3.2,2013-05-14 00:00:00,2013-05-14 01:11:00,2013-05-14 01:20:00,1748
39,40,X3.1,2014-10-24 21:07:00,2014-10-24 21:41:00,2014-10-24 22:13:00,2192
40,41,X3.1,2002-08-24 00:49:00,2002-08-24 01:12:00,2002-08-24 01:31:00,69
41,42,X3,2002-07-15 19:59:00,2002-07-15 20:08:00,2002-07-15 20:14:00,30
42,43,X2.8,2013-05-13 15:48:00,2013-05-13 16:05:00,2013-05-13 16:16:00,1748
43,44,X2.8,2001-12-11 07:58:00,2001-12-11 08:08:00,2001-12-11 08:14:00,9733
44,45,X2.8,1998-08-18 08:14:00,1998-08-18 08:24:00,1998-08-18 08:32:00,8307
45,46,X2.7,2015-05-05 22:05:00,2015-05-05 22:11:00,2015-05-05 22:15:00,2339
46,47,X2.7,2003-11-03 01:09:00,2003-11-03 01:30:00,2003-11-03 01:45:00,488
47,48,X2.7,1998-05-06 07:58:00,1998-05-06 08:09:00,1998-05-06 08:20:00,8210
48,49,X2.6,2005-01-15 22:25:00,2005-01-15 23:02:00,2005-01-15 23:31:00,720
49,50,X2.6,2001-09-24 09:32:00,2001-09-24 10:38:00,2001-09-24 11:09:00,9632

In [26]:
#Part 1, step 3
html = requests.get('https://cmsc320.github.io/files/waves_type2.html').text
soup = BeautifulSoup(html, "html")
table = soup.find("pre")

rows = str(table).split("\n")
df = pd.DataFrame(columns = ['start_date', 'start_time', 'end_date', 'end_time', 'start_frequency', 'end_frequency', 'flare_location', 'flare_region', 'flare_classification', 'cme_date', 'cme_time', 'cme_angle', 'cme_width', 'cme_speed'])

for i in range(12, len(rows) - 2):
    raw = rows[i].split(" ")
    data = []

    for elm in raw:
        if(elm != "" and elm[0] != "<" and  not "href" in elm):
            data.append(elm)
        elif("href" in elm):
            href = elm.split(">")
            data.append(href[1].replace("</a", ""))

    for i in range(len(data) - 14):
        del data[-1]
    df.loc[len(df.index)] = data
    
df

,start_date,start_time,end_date,end_time,start_frequency,end_frequency,flare_location,flare_region,flare_classification,cme_date,cme_time,cme_angle,cme_width,cme_speed
0,1997/04/01,14:00,04/01,14:15,8000,4000,S25E16,8026,M1.3,04/01,15:18,74,79,312
1,1997/04/07,14:30,04/07,17:30,11000,1000,S28E19,8027,C6.8,04/07,14:27,Halo,360,878
2,1997/05/12,05:15,05/14,16:00,12000,80,N21W08,8038,C1.3,05/12,05:30,Halo,360,464
3,1997/05/21,20:20,05/21,22:00,5000,500,N05W12,8040,M1.3,05/21,21:00,263,165,296
4,1997/09/23,21:53,09/23,22:16,6000,2000,S29E25,8088,C1.4,09/23,22:02,133,155,712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,2017/09/04,20:27,09/05,04:54,14000,210,S10W12,12673,M5.5,09/04,20:12,Halo,360,1418
514,2017/09/06,12:05,09/07,08:00,16000,70,S08W33,12673,X9.3,09/06,12:24,Halo,360,1571
515,2017/09/10,16:02,09/11,06:50,16000,150,S09W92,-----,X8.3,09/10,16:00,Halo,360,3163
516,2017/09/12,07:38,09/12,07:43,16000,13000,N08E48,12680,C3.0,09/12,08:03,124,96,252
517,2017/09/17,11:45,09/17,12:35,16000,900,S08E170,-----,----,09/17,12:00,Halo,360,1385

In [27]:
#Part 1, step 4
df.replace("????", "NaN", inplace = True)
df.replace("---", "NaN", inplace = True)
df.replace("----", "NaN", inplace = True)
df.replace("-----", "NaN", inplace = True)
df.replace("------", "NaN", inplace = True)
df.replace("--/--", "NaN", inplace = True)
df.replace("--:--", "NaN", inplace = True)
df.replace("LASCO DATA GAP", "NaN", inplace = True)

is_halo = []
width_lower_bound = []

for index, row in df.iterrows():
    if(df.at[index, 'cme_angle'] == 'Halo'):
        is_halo.append(True)
        df.at[index, 'cme_angle'] = 'NA'
    else:
        is_halo.append(False)
    
    if(not df.at[index, 'cme_width'].isnumeric() and not df.at[index, 'cme_width'] == 'NaN'):
        width_lower_bound.append(True)
        df.at[index, 'cme_width'] = (df.at[index, 'cme_width'].replace("&gt;", ""))
        df.at[index, 'cme_width'] = (df.at[index, 'cme_width'].replace("h", ""))
    else:
        width_lower_bound.append(False)
    
df = df.assign(is_halo=is_halo)
df = df.assign(width_lower_bound=width_lower_bound)

In [28]:
for index, row in df.iterrows():
    start_date = df.at[index, "start_date"]
    start_time = df.at[index, "start_time"]
    end_date = df.at[index, "end_date"]
    end_time = df.at[index, "end_time"]
    cme_date = df.at[index, "cme_date"]
    cme_time = df.at[index, "cme_time"]
    start_flag = 0
    end_flag = 0
    cme_flag = 0
    
    
    if(start_time == '24:00'):
        start_time = '00:00'
        start_flag = 1
    if(end_time == '24:00'):
        end_time = '00:00'
        end_flag = 1
    if(cme_time == '24:00'):
        cme_time = '00:00'
        cme_flag = 1
    
    if(start_date != 'NaN' and start_time != 'NaN'):
        start_datetime = datetime.combine(datetime.strptime(start_date, '%Y/%m/%d'), datetime.strptime(start_time, '%H:%M').time())
    if(end_date != 'NaN' and end_time != 'NaN'):
        end_datetime = datetime.combine(datetime.strptime(start_date[:5] + end_date, '%Y/%m/%d'), datetime.strptime(end_time, '%H:%M').time())
    if(cme_date != 'NaN' and cme_time != 'NaN'):
        cme_datetime = datetime.combine(datetime.strptime(start_date[:5] + cme_date, '%Y/%m/%d'), datetime.strptime(cme_time, '%H:%M').time())
    
    if(start_flag == 1):
        start_datetime += timedelta(days = 1)
        start_flag = 0
        
    if(end_flag == 1):
        end_datetime += timedelta(days = 1)
        end_flag = 0
    
    if(cme_flag == 1):
        cme_datetime += timedelta(days = 1)
        cme_flag = 0
    
    df.at[index, "start_date"] = start_datetime
    df.at[index, "end_date"] = end_datetime
    df.at[index, "cme_date"] = cme_datetime
    
df.drop('start_time', axis = 1, inplace = True)
df.drop('end_time', axis = 1, inplace = True)
df.drop('cme_time', axis = 1, inplace = True)

df.rename(columns={"start_date": "start_datetime", "end_date": "end_datetime", "cme_date": "cme_datetime", "flare_classification": "importance", "cme_angle": "cpa", "cme_width":"width", "cme_speed": "speed"}, inplace=True)

In [64]:
#Part 2, question 1

x_class = []
for index, row in df.iterrows():
    if(df.at[index, 'importance'][0].lower() == 'x'):
        x_class.append((index, df.at[index, 'importance'][1:]))
            
sorted_x_class = sorted(x_class, key = lambda x: float(x[1]), reverse = True)
nasa_50 = pd.DataFrame(columns=df.columns)

for i in range(50):
    index, mag = sorted_x_class[i]
    nasa_50 = nasa_50.append(df.loc[index],  ignore_index=True)

nasa_50

/tmp/ipykernel_261/2077275650.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nasa_50 = nasa_50.append(df.loc[index],  ignore_index=True)
/tmp/ipykernel_261/2077275650.py:14: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  nasa_50 = nasa_50.append(df.loc[index],  ignore_index=True)

,start_datetime,end_datetime,start_frequency,end_frequency,flare_location,flare_region,importance,cme_datetime,cpa,width,speed,is_halo,width_lower_bound
0,2003-11-04 20:00:00,2003-11-05 00:00:00,10000,200,S19W83,10486,X28.,2003-11-04 19:54:00,NA,360,2657,True,False
1,2001-04-02 22:05:00,2001-04-03 02:30:00,14000,250,N19W72,9393,X20.,2001-04-02 22:06:00,261,244,2505,False,False
2,2003-10-28 11:10:00,2003-10-30 00:00:00,14000,40,S16E08,10486,X17.,2003-10-28 11:30:00,NA,360,2459,True,False
3,2001-04-15 14:05:00,2001-04-16 13:00:00,14000,40,S20W85,9415,X14.,2001-04-15 14:06:00,245,167,1199,False,False
4,2003-10-29 20:55:00,2003-10-30 00:00:00,11000,500,S15W02,10486,X10.,2003-10-29 20:54:00,NA,360,2029,True,False
5,1997-11-06 12:20:00,1997-11-07 08:30:00,14000,100,S18W63,8100,X9.4,1997-11-06 12:10:00,NA,360,1556,True,False
6,2017-09-06 12:05:00,2017-09-07 08:00:00,16000,70,S08W33,12673,X9.3,2017-09-06 12:24:00,NA,360,1571,True,False
7,2006-12-05 10:50:00,2006-12-05 20:00:00,14000,250,S07E68,10930,X9.0,2006-11-06 17:54:00,NaN,NaN,NaN,False,False
8,2003-11-02 17:30:00,2003-11-03 01:00:00,12000,250,S14W56,10486,X8.3,2003-11-02 17:30:00,NA,360,2598,True,False
9,2017-09-10 16:02:00,2017-09-11 06:50:00,16000,150,S09W92,NaN,X8.3,2017-09-10 16:00:00,NA,360,3163,True,False
10,2005-01-20 07:15:00,2005-01-20 16:30:00,14000,25,N14W61,10720,X7.1,2005-01-20 06:54:00,NA,360,882,True,False
11,2011-08-09 08:20:00,2011-08-09 08:35:00,16000,4000,N17W69,11263,X6.9,2011-08-09 08:12:00,NA,360,1610,True,False
12,2006-12-06 19:00:00,2006-12-09 00:00:00,16000,30,S05E64,10930,X6.5,2006-11-06 17:54:00,NaN,NaN,NaN,False,False
13,2005-09-09 19:45:00,2005-09-09 22:00:00,10000,50,S12E67,10808,X6.2,2005-09-09 19:48:00,NA,360,2257,True,False
14,2000-07-14 10:30:00,2000-07-15 14:30:00,14000,80,N22W07,9077,X5.7,2000-07-14 10:54:00,NA,360,1674,True,False
15,2001-04-06 19:35:00,2001-04-07 01:50:00,14000,230,S21E31,9415,X5.6,2001-04-06 19:30:00,NA,360,1270,True,False
16,2012-03-07 01:00:00,2012-03-08 19:00:00,16000,30,N17E27,11429,X5.4,2012-03-07 00:24:00,NA,360,2684,True,False
17,2001-08-25 16:50:00,2001-08-25 23:00:00,8000,170,S17E34,9591,X5.3,2001-08-25 16:50:00,NA,360,1433,True,False
18,2014-02-25 00:56:00,2014-02-25 11:28:00,14000,100,S12E82,11990,X4.9,2014-02-25 01:25:00,NA,360,2147,True,False
19,2002-07-23 00:50:00,2002-07-23 04:00:00,11000,400,S13E72,10039,X4.8,2002-07-23 00:42:00,NA,360,2285,True,False
20,2000-11-26 17:00:00,2000-11-26 17:15:00,14000,7000,N18W38,9236,X4.0,2000-11-26 17:06:00,NA,360,980,True,False
21,2003-11-03 10:00:00,2003-11-03 12:30:00,6000,400,N08W77,10488,X3.9,2003-11-03 10:06:00,293,103,1420,False,False
22,2005-01-17 10:00:00,2005-01-17 10:35:00,6100,1500,N15W25,10720,X3.8,2005-01-17 09:54:00,NA,360,2547,True,False
23,2003-05-28 01:00:00,2003-05-29 00:30:00,1000,200,S07W20,10365,X3.6,2003-05-28 00:50:00,NA,360,1366,True,False
24,2001-12-28 20:35:00,2001-12-29 03:00:00,14000,350,S26E90,9756,X3.4,2001-12-28 20:30:00,NA,360,2216,True,False
25,2006-12-13 02:45:00,2006-12-13 10:40:00,12000,150,S06W23,10930,X3.4,2006-12-13 02:54:00,NA,360,1774,True,False
26,2002-07-20 21:30:00,2002-07-20 22:20:00,10000,2000,S13E90,10039,X3.3,2002-07-20 22:06:00,NA,360,1941,True,False
27,2013-05-14 01:16:00,2013-05-14 08:20:00,16000,240,N08E77,11748,X3.2,2013-05-14 01:25:00,NA,360,2625,True,False
28,2002-08-24 01:45:00,2002-08-24 03:25:00,5000,400,S02W81,10069,X3.1,2002-08-24 01:27:00,NA,360,1913,True,False
29,2013-05-13 16:15:00,2013-05-13 19:10:00,16000,300,N11E85,11748,X2.8,2013-05-13 16:07:00,NA,360,1850,True,False
30,1998-05-06 08:25:00,1998-05-06 08:35:00,14000,5000,S11W65,8210,X2.7,1998-05-06 08:29:00,309,190,1099,False,False
31,2003-11-03 01:15:00,2003-11-03 01:25:00,3000,1500,N10W83,10488,X2.7,2003-11-03 01:59:00,304,65,827,False,False
32,2015-05-05 22:24:00,2015-05-05 23:14:00,14000,500,N15E79,12339,X2.7,2015-05-05 22:24:00,NA,360,715,True,False
33,1997-11-27 13:30:00,1997-11-27 14:00:00,14000,7000,N17E63,8113,X2.6,1997-11-27 13:56:00,98,91,441,False,False
34,2001-09-24 10:45:00,2001-09-25 20:00:00,7000,30,S16E23,9632,X2.6,2001-09-24 10:30:00,NA,360,2402,True,False
35,2005-01-15 23:00:00,2005-01-17 00:00:00,3000,40,N15W05,10720,X2.6,2005-01-15 23:06:00,NA,360,2861,True,False
36,2004-11-10 02:25:00,2004-11-10 03:40:00,14000,1000,N09W49,10696,X2.5,2004-11-10 02:26:00,NA,360,3387,True,False
37,2000-06-06 15:20:00,2000-06-08 09:00:00,14000,40,N20E18,9026,X2.3,2000-06-06 15:54:00,NA,360,1119,True,False
38,2000-11-24 15:25:00,2000-11-24 22:00:00,14000,200,N22W07,9236,X2.3,2000-11-24 15:30:00,NA,360,1245,True,False
39,2001-04-10 05:24:00,2001-04-11 00:00:00,14000,100,S23W09,9415,X2.3,2001-04-10 05:30:00,NA,360,2411,True,False
40,2011-02-15 02:10:00,2011-02-15 07:00:00,16000,400,S20W12,11158,X2.2,2011-02-15 02:24:00,NA,360,669,True,False
41,1997-11-04 06:00:00,1997-11-05 04:30:00,14000,100,S14W33,8100,X2.1,1997-11-04 06:10:00,NA,360,785,True,False
42,2005-09-10 21:45:00,2005-09-11 01:00:00,14000,200,S13E47,10808,X2.1,2005-09-10 21:52:00,NA,360,1893,True,False
43,2011-09-06 22:30:00,2011-09-07 15:40:00,16000,150,N14W18,11283,X2.1,2011-09-06 23:05:00,NA,360,575,True,False
44,2013-10-25 15:08:00,2013-10-25 22:32:00,16000,200,S06E69,11882,X2.1,2013-10-25 15:12:00,NA,360,1081,True,False
45,2000-11-24 05:10:00,2000-11-24 15:00:00,14000,100,N20W05,9236,X2.0,2000-11-24 05:30:00,NA,360,1289,True,False
46,2001-04-12 10:20:00,2001-04-12 10:40:00,14000,7000,S19W43,9415,X2.0,2001-04-12 10:31:00,NA,360,1184,True,False
47,2004-11-07 16:25:00,2004-11-08 20:00:00,14000,60,N09W17,10696,X2.0,2004-11-07 16:54:00,NA,360,1759,True,False
48,2005-01-17 09:25:00,2005-01-17 16:00:00,14000,30,N15W25,10720,X2.0,2005-01-17 09:30:00,NA,360,2094,True,False
49,2000-11-25 19:00:00,2000-11-25 19:35:00,6000,2000,N20W23,9236,X1.9,2000-11-25 19:31:00,NA,360,671,True,False